<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- 스프링프레임워크는 Bean컨테이너!!
           ===> 빈(자바클래스)을 관리
   --> 
  <bean  id="msgBean" class="com.kosta.j0607.t3.MessageBeanVi"></bean> 
           
           
</beans>